{% extends "base.html" %}


{% block head %}

<script type="text/javascript"
        src="{{ url_for('static', filename='instructions.js')}}">
</script>



<link rel=stylesheet
      type=text/css
      href="{{ url_for('static', filename='instructions_style.css') }}">


{% endblock %}

{% block body %}

<h1> Instructions </h1>

<div class="instruction_page"
     id="content_container">
  <div id="content_text">
    LOTS OF CONTENT!
  </div>
  <div id="back_button">Back</div>
</div>

<div class="instruction_page"
     id="instructions_menu">

  <div class="instruction_list_item"
       id="how_to">
    How To Play
  </div>
  <div class="instruction_list_item"
       id="point_system">
    Point System
  </div>
  <div class="instruction_list_item_inactive"
       id="beta_tester">
    Beta Tester Information
  </div>

  <div class="instruction_list_item"
       id="back_to_menu">
    Back to menu
  </div>

  
</div>


{% endblock %}
